/* 
## Colors
### Primary
- Darkcyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral
- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
  font-family: "Montserrat", "Fraunces", sans-serif;
}

body {
  max-width: 1440px;
  /* Mobile max-width: 375px */
}
